// --- FILE: nextflow.config ---

//Global configuration file for the OmicsBox Nextflow workflows. 
docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
}

params {
    omicsboxImage = 'ubuntu:24.04'
    local_folder  = './results'
}

process {
    container = params.omicsboxImage
    publishDir = [
        path: { "${params.local_folder}/${workflow.sessionId}" },
        mode: 'copy',
        overwrite: true
    ]
    errorStrategy = { task.exitStatus in [1, 2, 3, 127] ? 'retry' : 'terminate' }
    maxRetries = 3
}