// --- FILE: nextflow.config ---

//Global configuration file for the OmicsBox Nextflow workflows. 
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

params {
    omicsboxImage = 'ubuntu:24.04'
}

process {
    publishDir = [
        path: { "${params.outputDir}/${task.process.split(':').last().toLowerCase()}" },
        mode: 'copy',
        overwrite: true
    ]
}