// --- FILE: test_blast.config ---

params {
    // ---------------------------------------------------
    // GLOBAL PIPELINE PARAMETERS
    // ---------------------------------------------------
    local_folder   = './results'
    cloud_folder   = null  // Path to the cloud storage bucket or directory (e.g., s3://my-bucket/path/)
    input_fasta = null  // Path to the input multi-FASTA file

    // ---------------------------------------------------
    // DIAMOND_BLAST SPECIFIC PARAMETERS
    // ---------------------------------------------------
    
    diamond_blast {
        species = null        // Optional taxonomy filter file path
    }    
}

// ---------------------------------------------------
// PROCESS SPECIFIC CONFIGURATION (CLI INJECTIONS)
// ---------------------------------------------------
process {
    withName: 'LOAD_FASTA' {
        // TOOL ARGUMENTS: Uncomment and modify as needed.
        ext.args = [
            "--handle-double-ids=replace", // [skip, replace, add_with_new_id] Decide what to do with duplicated sequence IDs. Default: replace
            "--add-description=true"       // [true, false] Add everything after first whitespace in header as description. Default: true
        ].join(' ')
    }

    withName: 'DIAMOND_BLAST' {
        // TOOL ARGUMENTS: Uncomment and modify as needed.
        ext.args = [
            "--blast-mode=blastx",         // [blastx, blastp] Default: blastx
            "--database=nr_20250925", //  Target BLAST database: [refseq_protein_20250925, refseq_227_20241120, refseq_224_20240711, refseq_223_20240411, refseq_221_20240109, refseq_220_20230921, refseq_216_20230201, nr_20250925, nr_20241120, nr_20240711, nr_20240411, nr_20240109, nr_20230921, nr_20230201, swissprot_20250925, swissprot_20241120, swissprot_20240711, swissprot_20240411, swissprot_20240109, swissprot_20230921, swissprot_20230201]
            "--sensitivity=more_sensitive",// [fast, mid_sensitive, standard, sensitive, more_sensitive, very_sensitive, ultra_sensitive]
            "--blast-expect-value=1.0E-3", // [1000, 10, 5, 1, 0.1, 1.0E-3, 1.0E-5, ...] Default: 1.0E-3
            "--number-of-hits=20",         // [integer] Default: 20
            "--blast-min-hsplength=33",    // [integer] Default: 33
            "--hsp-hit-coverage-cutoff=0", // [integer] Default: 0
            "--long-queries=false",      // Set to true to optimize for long sequences (>30 kbp).
            "--taxa-filter-option=Include only the selected taxonomies in the search", // ["Include only the selected taxonomies in the search", "Exclude all selected taxonomies from the search"] Use the taxonomy id list to either include or exclude the selected taxonomies.
        ].join(' ')
    }

    withName: 'STATISTICS_BLAST' {
        // TOOL ARGUMENTS: Uncomment and modify as needed.
        ext.args = [
             "--blast-evalue-distribution=false",               
             "--blast-similarity-distribution=false",               
             "--blast-species-distribution=false",                  
             "--blast-top-hit-distribution=false",                  
             "--blast-hsp-hit-coverage-distribution=false",         
             "--blast-hsp-seq-distribution=false",                  
             "--blast-hsp-distribution=false",                      
             "--blast-hit-distribution=false"                            // [true, false] Default: false                           // [true, false] Default: false
        ].join(' ') 
    }
}
