// --- FILE: conf/modules.config ---

// ---------------------------------------------------
// PROCESS SPECIFIC CONFIGURATION (CLI INJECTIONS)
// ---------------------------------------------------
process {
    withName: 'TRIMMOMATIC' {

        publishDir = [
            path: { "${params.outputDir}/TRIMMOMATIC" },
            mode: 'copy'
        ]

        ext.args = 'LEADING:3 TRAILING:3 MINLEN:36'
    }

    withName: 'FASTQC' {

        publishDir = [
            path: { "${params.outputDir}/FASTQC" },
            mode: 'copy'
        ]

        ext.args = ''
    }
}
