params {
    // ---------------------------------------------------
    // GLOBAL PIPELINE PARAMETERS
    // ---------------------------------------------------
    outputDir = './results'
    input_paired_end = null
    input_single_end = null
    omicsboxImage = 'ubuntu:24.04'
    
    // ---------------------------------------------------
    // TRIMMOMATIC SPECIFIC PARAMETERS
    // ---------------------------------------------------
    trimmomatic {
        // FILES: Only paths/files are defined as parameters to allow channel staging
        // Provide the path to a custom fasta file, or leave as null
        adapters = null 
        
        // FOLDERS: User-defined output routing
        folder_output_reads = 'output_reads'
        folder_unpaired_reads = 'unpaired_reads'
    }

    // ---------------------------------------------------
    // FASTQC SPECIFIC PARAMETERS
    // ---------------------------------------------------
    fastqc {
        // FILES: Optional custom adapter / contaminant FASTA files (OmicsBox searches defaults if null)
        adapters = null
        contaminants = null
    }
}
